<%= render partial: 'pages/welcome_message' unless user_signed_in? %>

<nav id='page-nav'>
  <div id="pins-container" class="transitions-enabled infinite-scroll">
    <%= render partial: 'pins/pins', locals: { pins: @pins} %>  
  </div>
  <%= link_to 'Load More Pins', pins_path(:page => @pins.next_page), :class => 'load-more-pins', :remote => true if @pins.next_page %>

</nav>
