<%= render partial: 'pages/welcome_message' unless user_signed_in? %>

<nav id='page-nav'>
  <div id="pins-container" class="transitions-enabled infinite-scroll">
    <%= render partial: 'pins/pins', locals: { pins: @pins} %>  
  </div>
</nav>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
