
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
    	<div class="panel-title">
    		<%= title %>
    	</div>
    </div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
