<div class="jumbotron">
	<div class="container">	
		<h1>Welcome</h1>
		<p>This is Pinteresting App for Pinterest</p>
		<p>Click here to 
				 <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
					<span class="glyphicon glyphicon-heart"></span>
		</p>
	</div>
</div>